<h1>Edit a Discussion</h1>
<!--ERROR MESSAGES FOR DISCUSSION -->
<% if @discussion && @discussion.errors.any? %>
<ul>
  <% @discussion.errors.full_messages.each do |error| %>
  <li style = "color: red"><%= error %></li>
  <% end %>
</ul>
<% end %>
<%= form_for [@project, (@discussion || Discussion.new)] do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
