<h2>Discuss: <%= @discussion.title %></h2>
<h6><%= @discussion.body %></h6>
<p><%= link_to "Edit this discussion...", edit_discussion_path(@discussion) %></p>
<%= link_to "Back to Project...", project_path(@discussion.project_id) %>

<hr>

<h4>Comments: </h4>
<% if @comments %>
<ul>
  <% @comments.each do |comment| %>
  <li style = "color: green">
    <%= comment.body %>
    <%= link_to "Edit", edit_discussion_comment_path(@discussion, comment) %>
    <%= link_to "Delete", [@discussion, comment], method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
  <% end %>
  </ul>
<% end %>

<hr>

<!-- ADD A COMMENT -->
<h3>Add a comment: </h3>
<!-- DISPLAY COMMENT ERRORS -->
<% if @comment.errors.any? %>
<ul>
  <% @comment.errors.full_messages.each do |error_msg| %>
    <li style = "color: red"><%= error_msg %></li>
  <% end %>
</ul>
<% end %>
<!-- FORM FOR COMMENT -->
<%= form_for [@discussion, @comment] do |f|  %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
