<h2 class = "title text-lg-center">Discussion: <%= @discussion.title %></h2>
<div class="row">
  <div class="form-group-lg col-md-8 col-md-offset-2">
    <p><%= @discussion.body %></p>
    <%= link_to "Edit this discussion...", edit_discussion_path(@discussion) %></p>
    <%= link_to "Back to Project...", project_path(@discussion.project_id) %>
  </div>
</div>
<hr>

<% if @comments.present? %>
<h4 class = "title text-lg-center">Comments: </h4>
<div class="row">
  <div class="form-group-lg col-md-6 col-md-offset-3">
    <ul id = "comments_looper">
      <% @comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<!-- ADD A COMMENT -->
<h3 class = "text-lg-center title">Add a comment: </h3>
  <div id="comments-form">
    <%= render "comments/form" %>
  </div>
