<section id="<%= dom_id(@comment) %>">
<% if @comment.errors.any? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 alert alert-danger">
        <p>The form contains <strong><%= pluralize(@comment.errors.count, "error") %></strong>.</p>
      <ul>
        <% @comment.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
  <div class="row">
    <div class="form-group-lg col-md-6 col-md-offset-3">
      <%# binding.pry %>
      <%= form_for [@discussion, @comment], remote: true do |f|  %>
      <div class = "form-group">
        <%# f.label :body %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class = "form-group">
        <%= f.submit class: "btn btn-primary btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</section>
