<h1>Change your password...</h1>

<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
  <li style = "color: red"><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_for(@user, url: update_password_path(@user)) do |f| %>
<div>
<%= f.label :current_password, "Current Password"%>
<%= f.password_field :current_password %>
</div>
<div>
<%= f.label :password, "New Password" %>
<%= f.password_field :password, class: 'form-control' %>
</div>
<div>
<%= f.label :password_confirmation, "Password Confirmation" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
<div>
<%= f.submit "Update Password" %>
</div>
<% end %>
