<% if @project.errors.any? %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 alert alert-danger">
    <p>The form contains <strong><%= pluralize(@project.errors.count, "error") %></strong>.</p>
  <ul>
    <% @project.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  </div>
</div>
<% end %>
<div class="row">
  <div class="form-group-lg col-md-6 col-md-offset-3">
    <%= form_for @project do |f| %>
    <div class = "form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class = "form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class = "form-group">
    <%= f.label :due_date %>
    <%= f.date_select :due_date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.file_field :images, multiple: true, class: "form-control" %>
    </div>
    <div class = "form-group">
      <%= submit_tag "Add Project", class: "btn btn-primary btn-block"  %>
    </div>
    <% end %>
  </div>
</div>
<!-- expression evaluates, saved into variable, not going to run whole expression again. isn't going to recreate it. type of caching.   -->
