<h1><%= @project.title %></h1>

<p> <%= @project.description %></p>
<h4><%= @project.due_date %></h4>
<p><%= link_to "EDIT", edit_project_path(@project) %></p>
<p><%= link_to "DELETE", project_path(@project), method: :delete, data: { confirm: "Are you sure?"} %></p>

<%# FAVOURITE A PROJECT! %>
<% favourite = @project.favourite_for(current_user) %>
    <% if favourite %>
    <%= link_to fa_icon("heart"), project_favourite_path(@project, favourite), method: :delete %>
    <% else %>
    <%= link_to fa_icon("heart-o"), project_favourites_path(@project), method: :post %>
    <% end %>
    <%= @project.favourites.count %>

  


<hr>

<h2>Add a Task </h2>
<!-- error messages of task -->
<% if @task && @task.errors.any? %>
<ul>
  <% @task.errors.full_messages.each do |error| %>
  <li style = "color: red"><%= error %></li>
  <% end %>
</ul>
<% end %>


<!-- form for adding a task  -->
<%= form_for [@project, @task || Task.new] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<!-- LIST INCOMPLETE TASKS -->
<% if @tasks_not_done %>
<h2>INCOMPLETE TASKS:</h2>
<%= render "tasks", tasks: @tasks_not_done %>
<% end %>

<!-- LIST COMPLETED TASKS -->
<% if @tasks_done %>
<h2>COMPLETED TASKS: </h2>
<%= render "tasks", tasks: @tasks_done %>
<% end %>



<!-- LIST ALL DISCUSSIONS -->
<% if @discussions %>
<h2>ALL DISCUSSIONS: </h2>
<ul>
  <% @discussions.each do |discussion| %>
  <li><%= link_to "#{discussion.title}", discussion_path(discussion) %>
      <%= link_to "Edit", edit_project_discussion_path(@project, discussion) %>
      <%= link_to "Delete", project_discussion_path(@project, discussion), method: :delete, data: { confirm: "Are you sure??"} %>
      </li>

  <% end %>
</ul>
<% end %>

<!-- ADD A DISCUSSION -->
<h2>Add a Discussion </h2>
<!--ERROR MESSAGES FOR DISCUSSION -->
<% if @discussion && @discussion.errors.any? %>
<ul>
  <% @discussion.errors.full_messages.each do |error| %>
  <li style = "color: red"><%= error %></li>
  <% end %>
</ul>
<% end %>
<!-- FORM FOR DISCUSSION -->
<%= form_for [@project, (@discussion || Discussion.new)] do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>

<!-- DISPLAY ALL TASKS-->
 <% if @tasks %>
 <h4>All Tasks ... (<%= @tasks.length %>)</h4>
 <ul>
 <% @tasks.each do |task| %>
   <li><%= task.title  %>
       <%= render "done", task: task %>
       <%= link_to "Delete", [@project, task], method: :delete,
           data: { confirm: "Are you sure?"} %>
   </li>
   <% end %>
 </ul>
 <% end %>
