<nav class="navbar navbar-full navbar-light" style = "background-color: #58e7d1">
  <div class="container">

  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2"> &#9776; </button>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
      <ul class="nav navbar-nav">
        <%= link_to fa_icon("briefcase", class: "tasks-fa fa-3x"), root_path %>
        <% if user_signed_in? %>
        <li class="nav-item <%= 'active' if current_page?(new_project_path) %> ">
          <%= link_to "add project", new_project_path, class: "nav-link" %>
        </li>

        <li class="nav-item <%= 'active' if current_page?(favourites_path) %> ">
          <%= link_to "favourites", favourites_path, class: "nav-link" %>
        </li>

        <li class="nav-item
            <%= 'active' if current_page?(edit_user_path(current_user)) %>">
            <%= link_to "edit profile", edit_user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(sessions_path) %>">
          <%= link_to "log out", sessions_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item <%= 'active' if current_page?(new_user_path) %>">
          <%= link_to "sign up", new_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(new_session_path) %>">
          <%= link_to "sign in", new_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(new_session_path) %>">
          <%= link_to "sign in with github", sign_in_with_github_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
  </div>
  </div>
</nav>
