<!DOCTYPE html>
<html>
<head>
  <title>ProjectManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:notice] || flash[:alert] %>
  <header>
    <nav>
      <%= link_to "Home", index_path %>
      <%= link_to "About", about_path %>
      <%= link_to "All Projects", projects_path %>
      <%= link_to "New Project", new_project_path %>
      
      <% if user_signed_in? %>
        Hello <%= current_user.first_name %>
        <%= link_to "Sign out", sessions_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Sign In", new_session_path %>
      <% end %>
      <%# link_to "All Tasks", tasks_path %>
      <%# link_to "New Task", new_task_path %>
    </nav>
  </header>

<%= yield %>

</body>
</html>
